@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Montserrat', sans-serif;
}

.qwer{
    background-color: #2f1626;
}

.general{
    width: 100%;
    height: 100vh;
    background-image: url(../images/Hero\ Background.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    border-radius: 40px;
}

.col img{
    margin-top: 50px;
}

.logo{
    width: 250px;
}

.nav{
    margin-top: 40px;
    display: flex;
    justify-content: end;
    margin-top: 80px;
}

.nav li a{
    font-size: 20px;
    color: #FFD89E;
}

.burger{
    display: none;
}
.burger-checkbox{
    display: none;
}



/* -----------------------------main------------------------------------ */

.main-1{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-11{
    width: 90%;
    display: flex;
    justify-content: center;
}

.main-2{
    width: 42%;
    display: flex;
    flex-direction: column;
}

.main-21{
    width: 200px;
    height: 2px;
    background-color: #FFD89E;
    margin-left: 90px;
    margin-top: 150px;
}

.main-2 h2{
    font-size: 90px;
    color: #FFFFFF;
    margin-left: 90px;
    margin-top: 30px;
}

.main-2 button a{
    font-family: 'Montez', cursive;
    text-decoration: none;
    color: #FFFFFF;
}

.main-2 p{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 100;
    margin-left: 90px;
    margin-top: 30px;
}
.main-2 button{
    width: 300px;
    height: 80px;
    border-radius: 40px;
    font-size: 35px;
    background: linear-gradient(to top, #532742, #C73B0A);
    border: none;
    margin-left: 90px;
    margin-top: 30px;
}

.main-2 button:hover{
    background: linear-gradient(to top, #2f1626, #7d2607)
}

.star-1{
    width: 90px;
    position: absolute;
    left: 580px;
    top: 670px;
}

.main-3{
    width: 58%;
}

.main-3 img{
    max-width: 70%;
    min-width: 320px;
    height: auto;
    margin-top: 50px;
    margin-left: 150px;
}


/* ----------------------АДАПТИВ-------------------------------- */

@media(max-width: 992px){
    .general{
        background-color: #2f1626;
    }
    .nav{
        display: none;
    }
    .burger{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    }
    .logo{
        margin-left: 10px;
    }
    .burger-checkbox:checked +.burger + .nav{
        display: flex;
    }
    .main-11{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .star-1{
        display: none;
    }
    
    .main-3 img{
        width: 420px;
        margin-left: 0;
        
    }
    .main-2 h2{
        font-size: 60px;
        margin-left: 0;
        text-align: center;
    }
    .main-2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-21{
        width: 150px;
        margin-top: 50px;
    }
    .main-2 p{
        margin-left: 0;
        font-size: 15px;
        text-align: center;
    }
    .main-2 button{
        margin-left: 0;
    }
    .main-3{
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 420px){
    .logo{
        width: 200px;
    }
    .burger img{
        width: 30px;
    }
    .nav li a{
        font-size: 12px;
    }
    .main-3 img{
        margin-top: 10px;
    }
    .main-2 h2{
        margin-top: 10px;
    }
    .main-21{
        margin-top: 10px;
    }
    .main-2 p{
        margin-top: 10px;
    }
    .main-2 button{
        margin-top: 10px;
    }
}